<div class="container">
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card h-100 shadow">
				<div class="card-img-top" style="background-color: #008000; height: 200px;"></div>
				<div class="card-body">
					<h5 class="card-title">Manage Artwork</h5>
					<p class="card-text">To manage, preserve, and showcase your artwork.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100 shadow">
				<div class="card-img-top" style="background-color: #008000; height: 200px;"></div>
				<div class="card-body">
					<h5 class="card-title">Professional Reports</h5>
					<p class="card-text">Generate pre-formatted and elegant reports including artwork labels and QR codes.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100 shadow">
				<div class="card-img-top" style="background-color: #008000; height: 200px;"></div>
				<div class="card-body">
					<h5 class="card-title">Intuitive Cataloging</h5>
					<p class="card-text">Record locations, exhibitions, and vital details of your artwork.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100 shadow">
				<div class="card-img-top" style="background-color: #008000; height: 200px;"></div>
				<div class="card-body">
					<h5 class="card-title">Web Integrations</h5>
					<p class="card-text">Sync your portfolio with your website.</p>
				</div>
			</div>
		</div>
	</div>
</div>
